body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  background-color: blue;
  height: 1500px;
}

.font-rightous {
  font-family: "Righteous", cursive;
}

.bck_black {
  background: #3c3c3c;
}
.bck_yellow {
  background: #ffa800;
}
.bck_red {
  background: #ff4800;
}

.center_wrapper {
  width: inherit;
  margin: 0 auto;
}

header {
  padding: 10px 0px;
  transition: all 300ms ease-in;
}

header .logo_wrapper {
  flex-grow: 1;
}

header .title_top {
  font-size: 40px;
}

header .title_bottom {
  text-transform: uppercase;
}

.artist_name {
  position: absolute;
  height: 160px;
  width: 400px;
  border: 2px solid white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.artist_name .wrapper {
  text-align: center;
  border: 2px solid white;
  margin: 6px;
  height: 121px;
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
  padding: 21px 70px 0px 70px;
}
.carrousel_wrapper {
  height: 700px;
  overflow: hidden;
}

.carrousel_image {
  background-size: cover !important;
}

.countdown_wrapper {
  position: absolute;
  bottom: 0;
  color: #fff;
}

.countdown_wrapper .countdown_top {
  font-size: 19px;
  background: #ff4800;
  text-transform: uppercase;
  padding: 10px;
  display: inline-block;
}
.countdown_wrapper .countdown_bottom {
  background: #d93d00;
  display: flex;
  padding: 10px 20px;
}

.countdown_wrapper .countdown_time {
  font-size: 70px;
  border-right: 1px solid #f44336;
  margin-right: 14px;
  padding-right: 40px;
}
.countdown_wrapper .countdown_tag {
  font-size: 20px;
  text-transform: uppercase;
}
.countdown_wrapper .countdown_item:last-child .countdown_time {
  border: none;
  margin-right: 0;
  padding-right: 0;
}

.vn_wrapper {
  display: flex;
  padding: 100px 0;
}

.vn_item {
  color: #fff;
  width: 50%;
  text-align: center;
}

.vn_item .vn_outer {
  border: 2px solid #828282;
  width: 300px;
  margin: auto;
  padding: 5px;
}
.vn_item .vn_inner {
  border: 2px solid #828282;
  position: relative;
  padding: 0 20px;
  transition: all 500ms ease;
}

.vn_item .vn_inner:hover {
  background: #3f3f3f;
}
.vn_item .vn_square {
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  position: absolute;
  left: 90px;
  top: -55px;
}

.vn_item .vn_icon {
  position: absolute;
  width: 50px;
  height: 50px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  left: 115px;
  top: -30px;
}

.vn_item .vn_title {
  border-bottom: 1px solid #5d5d5d;
  font-size: 28px;
  margin: 90px 0 20px 0;
  padding-bottom: 10px;
}
.vn_item .vn_desc {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 80px;
}
